{% extends "base" %}

{% block content %}

<section id="top" class="">
  <div class="container">

    <header>
      <h2 class="alt">Welcome</h2>
      <p>The current tunnel configuration and stats are shown below.</p>
    </header>

    <div class="code">{% if show_config %}{{ show_config }}{% else %}It doesn't look like the tunnel interface is up yet.{% endif %}</div>

  </div>
</section>


{% endblock content %}
