<html>
<body>

<div>
<p>Here's a client config for you:</p>
<pre style="color: red;">
{{ full_config }}
</pre>
</div>
<img src="data:image/svg+xml;base64,{{ qr_code }}" width=200 class="center">

</body>
</html>
